<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Member Page</title>
    <link rel="stylesheet" type="text/css" href="/static/Week4.css">
</head>
<body>
    <div class="title">
        歡迎光臨，這是會員頁
    </div>
    <div class="userInfo">
        <div class="account">
            恭喜您，成功登入系統
        </div>
        <div class="account">
            <a href="/signout">登出系統</a>
        </div>
    </div>
</body>